<p id="notice"><%= notice %></p>

<p>
  <b>Isbn:</b>
  <%= @livro_banco.isbn %>
</p>

<p>
  <b>Titulo:</b>
  <%= @livro_banco.titulo %>
</p>

<p>
  <b>Autor:</b>
  <%= @livro_banco.autor %>
</p>

<p>
  <b>Editora:</b>
  <%= @livro_banco.editora %>
</p>


<%= link_to 'Editar', edit_livro_banco_path(@livro_banco) %> |
<%= link_to 'Voltar', livro_bancos_path %>
